/* Reiniciar márgenes y paddings predeterminados */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #161616;
}

nav {
    background-color: #000000;
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
    /*Separa el logo y el menú*/
    align-items: center;
    /*Alinea verticalmente TODOS los items*/
    height: 70px;
    /*Define una altura fija para el navbar*/
}

.logo-container {
    float: left;
}

.logo {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    /* Espacio entre la imagen y el texto */
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
}

.logo img {
    height: 35px;
    width: auto;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}


.menu {
    float: right;
}

.menu ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

.menu a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
}

.menu a:hover {
    color: #3498db;
}

/*============================================================================================
    CONFIGURACIONES PARA EL MENÚ HAMBURGUESA
=============================================================================================*/
/*En esta parte voy a darle estilo al menú hamburguesa artesanal*/
.menu-toggle {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    /*Oculto el botón por defecto*/
}

.hamburguesa {
    display: none;
    /*Oculto el ícono por defecto*/
    flex-direction: column;
    /*Organizo las líneas en columna*/
    justify-content: space-between;
    /*Espacio entre las líneas*/
    width: 30px;
    height: 21px;
    cursor: pointer;
}

.hamburguesa span {
    display: block;
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 2px;
    transition: 0.3s;
}

/*Esto solo se activa en las pantallas pequeñas*/
@media (max-width: 768px) {

    .menu-toggle {
        display: flex;
    }

    .hamburguesa {
        display: flex;
    }


    /*Ocultar el menú por defecto en el teléfono*/
    .menu {
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background-color: #10161b;
        flex-direction: column;
        align-items: center;
        padding: irem 0;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        /*Oculto el menú*/
        transition: clip-path 0.3s ease-in-out;
    }

    .menu ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        margin-bottom: 1rem;
    }

    /*Mostrar menú cuando el checkbox está marcado*/
    .menu-toggle:checked~.menu {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    /*Asegurar que el logo esté alineando en el teléfono*/
    .logo-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1rem;
    }
}

/*===========================================================================================*/
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1.5rem;
}

header.hero-content {
    text-align: center;
    padding: 1rem 0 1rem;
    background-color: #090909ee;
    width: 100%;
}

header.hero-content h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #eaf4ff;
}

header.hero-content p {
    font-size: 1.2rem;
    color: #eaf4ff;
    max-width: 700px;
    margin: 0 auto;
}

main {
    padding: 2rem 0 4rem;
}

main h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2.5rem;
    color: #dce9f6;
}

/*Contenedor del video*/
.video-banner {
    margin: 2rem 0 3rem;
    border-radius: 12px;
    overflow: hidden; /*Para que los bordes redondeados funcionen*/
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/*Video responsive*/
.video-banner video {
    width: 100%;
    height: auto;
    display: block;
}

/*Contenedor de las cards*/
.cards {
    display: flex;
    flex-wrap: wrap;
    /*Esto permite que la card pase a la siguiente fila si no cabe*/
    justify-content: center;
    /*Esto centra las cards*/
    gap: 2rem;
    /*Espacio entre las cards*/
}

/*Estilo para las cards*/
.cards article {
    background: #382a2a;
    position: relative;
    /*Para aplicar el brillo*/
    overflow: hidden;
    /*Esconde el brillo fuera de la card*/
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    width: auto;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;

}

.cards article:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}


.cards img {
    width: 250px;
    align-items: center;
    border-radius: 10%;
    object-fit: cover;
    margin-bottom: 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

/*Títulos y textos de las cards*/
.cards h3 {
    font-size: 1.4rem;
    margin: 0.8rem 0;
    color: #cbcccd;
}

.cards p {
    margin: 0.6rem 0;
    color: #ffffff;
}

/*Destacar la tasa de interés*/
.cards .tasa {
    font-weight: bold;
    color: #f2b3b3;
    font-size: 1.2rem;
}

/*Estilo para todos los botones de la página*/
.boton-card,
.boton-limpiar,
.boton-enviar {
    display: inline-block;
    position: relative;
    /*Necesario para el pseudoelemento*/
    overflow: hidden;
    /*Esconde el brillo fuera del botón*/
    background: linear-gradient(to right, #4c6362, #091515);
    /* background-color: #518785; */
    color: white;
    text-decoration: none;
    padding: 0.6rem 2rem;
    border-radius: 11px;
    margin-top: 1rem;
    font-weight: 600;
    transition: backgruound-color 0.3s;
}

.boton-card:hover,
.boton-limpiar:hover,
.boton-enviar:hover {
    background-color: #335453;
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(52, 152, 219, 0.4);
}

/*============================================================================================
    PSEUDOELEMENTOS PARA EL BRILLO DEL BOTÓN Y LAS CARDS
==============================================================================================*/

/*Brillo botones*/
.boton-card::before,
.boton-limpiar::before,
.boton-enviar::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    /*Esto lohace comenzar fuera del botón*/
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg,
            transparent,
            rgba(255, 255, 255, 0.3),
            /*Esto es un reflejo básico semitransparente*/
            transparent);
    transition: left 0.6s;
    z-index: -1;
    /*Asegura que el brillo esté detrás del texto*/
}

.boton-card:hover::before,
.boton-limpiar:hover::before,
.boton-enviar:hover::before {
    left: 100%;
    /*Mueve el brillo a través del botón*/
}

/*Brillo cards*/
.cards article {
    position: relative;
    overflow: hidden;
    /* contiene el brillo */
}

.cards article::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg,
            transparent,
            rgba(255, 255, 255, 0.339),
            /*ESTE ES EL BRILLO DE LA CARD*/
            transparent);
    /*En caso de querer modificarlo, solo cambiar transparencia*/
    transition: left 0.8s ease;
    z-index: -1;
    /* va detrás del contenido */
}

/* Efecto al pasar el mouse */
.cards article:hover::before {
    left: 100%;
}

/*=============================================================================================*/

/*============================================================================================
    PÁGINA DEL SIMULADOR DE CRÉDITO
=============================================================================================*/

.simulador {
    background: linear-gradient(135deg, #050505, #082f39);
    border-radius: 12px;
    padding: 2rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

.simulador form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.simulador label {
    font-weight: 600;
    color: #eef7ff;
    font-size: 1rem;
}

.simulador input,
.simulador select {
    padding: 0.8rem;
    border: 1px solid #ddd;
    border-radius: 20px;
    font-size: 1rem;
    background-color: #fafafa;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.simulador input:focus,
.simulador select:focus {
    outline: none;
    border-color: #3498db;
    box-shadow: 0 0 0 3px rgba(52, 152, 219, 0.2);
}

.simulador .boton-limpiar {
    color: white;
    border: none;
    padding: 0.8rem;
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
    max-width: 200px;
    align-self: center;
    background: linear-gradient(to right, #a31600, #000000);

}

.simulador .boton-limpiar:hover {
    background-color: #7f8c8d;
}

/*SECCIÓN DE RESULTADOS */

#h2-simular {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 0.1rem;
    color: #fdfeff;
}

.resultados {
    /* background-color: rgb(55, 54, 54); */
    background: linear-gradient(135deg, #050505, #082f39);
    border-radius: 12px;
    padding: 2rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    margin-bottom: 2.5rem;
}

.resultados h2 {
    font-size: 1.8rem;
    color: #eef1f4;
    margin-bottom: 0.5rem;
    text-align: center;
}

#h3-simular-credito {
    text-align: left;
    color: #f8fbfb;
    margin-bottom: 1.5rem;
    font-weight: 500
}

.resultados .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

/*============================================================================================
    PÁGINA PARA SOLICITAR UN CRÉDITO
=============================================================================================*/

.container>h1 {
    text-align: center;
    font-size: 2.2rem;
    margin: 2rem 0 1rem;
}

.container>p {
    text-align: center;
    color: #7f8c8d;
    margin-bottom: 2.5rem;
    font-size: 1.1rem;
}

/*Contenedor del formulario*/
form.solicitar-credito-form {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    margin-top: 2.5rem;
    margin-bottom: 2rem;
}

/*Estilo de cada sección del formulario estilo card*/
.formulario-personales,
.formulario-laborales,
.formulario-credito {
    background: linear-gradient(135deg, #050505, #082f39);


    border-radius: 12px;
    padding: 1.5rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

/*Títulos de sección*/
.formulario-personales h2,
.formulario-laborales h2,
.formulario-credito h2 {
    font-size: 1.5rem;
    color: #fdfeff;
    margin-bottom: 0.6rem;
    border-bottom: 1px solid #ecf0f1;
    /*Text-align: center???*/
    padding-bottom: 0.6rem;
}

/*Etiquetas y campos del formulario*/
form.solicitar-credito-form label {
    width: 100%;
    /*Asegura que las etiquetas ocupen todo el ancho disponible*/
    margin: 1rem 0.05rem;
    font-weight: 600;
    color: #eceded;
    font-size: 0.95rem;
}

form.solicitar-credito-form input,
form.solicitar-credito-form select {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ddd;
    border-radius: 20px;
    font-size: 1rem;
    background-color: #fafafa;
    transition: border-color 0.3s, box-shadow 0.3s;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

form.solicitar-credito-form input:focus,
form.solicitar-credito-form select:focus {
    outline: none;
    border-color: #3498db;
    box-shadow: 0 0 0 3px rgba(52, 152, 219, 0.2);
}

/*Botones del formulario*/
.botones-formulario {
    display: flex;
    justify-content: center;
    gap: 1.2rem;
    margin-top: 1rem;
}

.botones-formulario button {
    padding: 0.8rem 1.8rem;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.botones-formulario .boton-enviar {
    background: linear-gradient(to right, #14b79f, #314c4c);
    color: white;
}

.botones-formulario .boton-enviar:hover {
    background-color: rgb(33, 129, 73);
}

.botones-formulario .boton-limpiar {
    color: white;
    background: linear-gradient(to right, #7e8584, #293737);

}

.botones-formulario .boton-limpiar:hover {
    background-color: #7f8c8d;
}


/*============================================================================================
    FOOTER DE LA PÁGINA
=============================================================================================*/
.footer {
    background-color: #000000;
    color: white;
    padding: 0.8rem 0 1rem;
    margin-top: 2rem;
    ;
}

/*Contenido del footer*/
.footer-contenido {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto 1.5rem;
    padding: 0 1.5rem;
}

.footer-redes h3,
.footer-enlaces h3 {
    margin-bottom: 1rem;
    font-size: 1.1rem;
    color: #ffffff;
}

.footer-redes ul,
.footer-enlaces ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-redes li,
.footer-enlaces li {
    margin-bottom: 0.6rem;
}

.footer-redes a,
.footer-enlaces a {
    color: #c1c2c3;
    text-decoration: none;
    /*Esto le quita el subrayado a los enlaces*/
    transition: color 0.3s;
}

.footer-redes a:hover,
.footer-enlaces a:hover {
    color: #3498db;
}

/*Copyright del footer*/
.footer-copyright {
    text-align: center;
    border-top: 1px solid #333;
    padding-top: 1rem;
    color: #7f8c8d;
    font-size: 0.9rem;
}

/*RESPONSIVE PARA LOS TELÉFONOS*/
@media (max-width: 768px) {
    .footer-contenido {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 1.5rem;
    }
}